:root{
    --transition-duration:150ms;
    --transition-ease:ease-out;
    --bg-color-rgb:0,0,0;
    --shadow-color-rgb:128,128,128;
    --image-width:11.5rem;
    --image-height:17.5rem;
    --image-hover-effect:1.075;
    --image-reflection-blur:0.25rem;
    --image-empty-color-rgb:255, 255, 255;
    --image-glow-color-rgb:255, 255, 255;
    --image-glow-size:5rem;
    --carousel-diameter:50rem;
    --image-3D-perspective:1000px;
    --image-3D-perspective-origin:50% 20%;
    --control-btn-width:1.25rem;
    --control-btn-height:4rem;
    --control-color-rgb:255,255,255;
    --animation-duration:25s;
    --animation-playstate:running;
    --direction-animation-playstate:paused;


}
*,*::before, *::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
*:focus{
    outline: none;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(var(--bg-color-rgb));
    overflow: hidden;
}

.carousel{
    --_diameter:var(--carousel-diameter);
    --_radius: calc(var(--_diameter) /2);
    --_item-width:var(--image-width);
    --_item-height:var(--image-height);
    perspective:var(--image-3D-perspective);
    perspective-origin:var(--image-3D-perspective-origin);
    width:var(--_diameter);
    height:var(--_diameter);

}

@media only screen and (max-width:48rem){
    .carousel{
        --_diameter:calc(var(--carousel-diameter)*0.75);
        --_item-width:calc(var(--image-width)*0.75);
        --_item-height:calc(var(--image-height)*0.75);
    }
}

@media only screen and (max-width:32rem){
    .carousel{
        --_diameter:calc(var(--carousel-diameter)*0.6);
        --_item-width:calc(var(--image-width)*0.6);
        --_item-height:calc(var(--image-height)*0.6);

    }
}

@media only screen and (max-width:16rem){
    .carousel{
        --_diameter:calc(var(--carousel-diameter)*0.25);
        --_item-width:calc(var(--image-width)*0.25);
        --_item-height:calc(var(--image-height)*0.25);
    }
}

.carousel .control-btn{
    --_width:var(--control-btn-width);
    --_height:var(--control-btn-height);
    z-index:1;
    width:var(--_width);
    height:var(--_height);
    background-color:rgb(var(--control-color-rgb));
    opacity:0.2;
    transition:opacity var(--transition-duration) var(--transition-ease);
    position:absolute;
    }

.carousel .control-btn:hover{
 opacity:0.4;
}

.carousel .control-btn:has(input:checked){
opacity:0.8;
}

.carousel .control-btn input{
    -webkit-appearance:none;
    appearance:none;
    opacity:0;
    width:100%;
    height:100%;
    cursor:pointer;
}

.carousel .control-btn.left{
    clip-path:polygon(0% 50%,100% 0%,100% 100%);
    top:calc(var(--_radius) - var(--_height) /2);
    left:0;
}
.carousel:has(.control-btn.left input:checked) {
    --direction-animation-playstate:running;
}
.carousel .control-btn.right{
    clip-path:polygon(0% 0%, 100% 50%, 0% 100%);
    top:calc(var(--_radius) - var(--_height) /2);
    right:0;
}
.carousel:has(.control-btn.right input:checked){
    --direction-animation-playstate:paused;
}

.carousel .container-rotation-direction{
    --_direction-animation-playstate:var(--direction-animation-playstate);
    --_z: calc(var(--_radius) * -1); 
    transform:translateZ(var(--_z));
    transform-style:preserve-3d;
    animation:carousel-rotation-reverse calc(var(--animation-duration)/2 ) reverse linear infinite var(--_direction-animation-playstate);
    transition:all var(--transition-duration) var(--transition-ease);

}

@keyframes carousel-rotation-reverse {
    from{transform: translateZ(var(--_z)) rotateY(0deg);}
    to{transform: translateZ(var(--_z)) rotateY(360deg);}
}

@keyframes carousel-rotation-normal{
    from{transform: rotateY(0deg);}
    to{transform: rotateY(360deg);}
}




.carousel .wrapper{
    transform-style:inherit;
    width:inherit;
    height:inherit;
    list-style-type:none;
    position:relative;
    animation:carousel-rotation-normal var(--animation-duration) normal linear infinite var(--animation-playstate);
    transition:all var(--transition-duration) var(--transition-ease);

}

.carousel .container-rotation-direction:has(.dispImages:hover){
    --animation-playstate:paused;
    --_direction-animation-playstate:paused;
}

.carousel .dispImages{
    
    --_width:var(--_item-width);
    --_height:var(--_item-height);
    --_rotation:calc(360 / var(--_num-elements) * var(--_index)* 1deg);
    left: calc(var(--_radius) - var(--_item-width) / 2);
    top: calc(var(--_radius) - var(--_item-height) / 2);
    transform:rotateY(var(--_rotation)) translateZ(var(--_radius));
    transform-style:inherit;
    width:var(--_width);
    height:var(--_height);
    transition:all var(--transition-duration) var(--transition-ease);
    box-shadow:0 0 var(--image-glow-size) transparent;
    position:absolute;
    
}

.carousel .dispImages:hover{
    box-shadow:0  0 var(--image-glow-size) rgb(var(--image-glow-color-rgb));
    transform:rotateY(var(--_rotation)) translateZ(calc(var(--_radius)*var(--image-hover-effect)));
}

.carousel .dispImages a{
    display:block;
    width:inherit;
    height:inherit;
    text-indent:-9999px;
    background-color:rgba(var(--image-empty-color-rgb),0.5);
    background-image:var(--_image-url);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    transition: filter var(--transition-duration) var(--transition-ease);
    filter:grayscale(100%);
}

.carousel .dispImages:hover a{
    filter:grayscale(0%);
}

.carousel .dispImages::before{
     content:'';
    width:inherit;
    height:inherit;
    background-color:rgba(var(--image-empty-color-rgb),0.5);
    background-image:
             linear-gradient(to top, rgba(var(--bg-color-rgb),0.25) 0%, rgba(var(--bg-color-rgb),1.0) 75%),
             var(--_image-url);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    pointer-events:none;
    filter:blur(var(--image-reflection-blur)) grayscale(100%);
    transition:filter var(--transition-duration) var(--transition-ease);
    transform-style: inherit;
    transform-origin: center bottom;
    transform:rotateX(90deg) rotateY(180deg) rotateZ(180deg);
    position:absolute;
    }
    
    .carousel .dispImages:hover::before{
        filter:blur(var(--image-reflection-blur)) grayscale(0%);
    }

    .carousel .ground{
        --_width:var(--_diameter);
        --_height:var(--_diameter);
        --_rotation:90deg;
        left: calc(var(--_radius)- var(--_width)/2);
        top: calc(var(--_radius)- var(--_height)/2);
        transform:rotateX(var(--_rotation)) translateZ(calc(var(--_item-height)/ -2));
        width:var(--_width);
        height:var(--_height);
        border-radius:50%;
        background:radial-gradient(rgba(var(--shadow-color-rgb),0.75)15%, rgba(var(--bg-color-rgb),0)60%);
        opacity:0.5;
        transition:opacity var(--transition-duration) var(--transition-ease);
        position:absolute;
    }

    .carousel .wrapper:has(.dispImages:hover) .ground {
        opacity: 0.75;
    }